@import "tailwindcss";

body{
  margin: 0;
}

* {
  transition: all 0.2s ease-in-out;
}

* {
  transition: background-color 0.2s ease,
              color 0.2s ease,
              border-color 0.2s ease,
              box-shadow 0.2s ease,
              transform 0.2s ease;
}